<!--

Student Name - Vidhi Patel
Student ID - 301290703
Date - 21-10-2022
-->

<% if (title == "Home") { %>
    <div class="img" > 
    </div> 
    <div class="home-text"> 
      <r><p>Welcome to my <%= title %> page</p></r>
      <span><p> Personal Portfolio Website using ExpressJS and implementing the EJS</p></span>
    </div>
    
    <div>
      <button type="button" class="btn btn-dark button" onclick="location.href='/about'">Click Me</button>
    </div>
    
    <%} else { %>
      
    <% } %>